{
  "presets": [
    "react", 
    ["env", {
      "targets": {
        "browsers": "last 3 versions"
      },
      "modules": false
    }]
  ],
  plugins: [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
